*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
}
#page1{
    height: 100%;
    width: 100%;
    padding-top: 1%;

}
#nav{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#nav h4{
    border-right: 2px solid black;
    padding: 28px 80px;
    font-size: 20px;
    font-weight: 500;
}
#nav i{
    font-size: 25px;
}
#nav h1 sup{
    font-size: 18px;
}
#nav h1{
    letter-spacing: -3px;
    

}
#centre{
    height: 75%;
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
    background-image: url(https://images.unsplash.com/photo-1624088125939-7fc288f7e1c2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-size: cover;
    background-position: center;
    margin-top: 3%;
    position: relative;
}
#centre1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    width: 92%;
    margin-left: 3.5%;
    /* background-color: aqua; */
    position: absolute;
    top: 50%;
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.863);

}
#centre1 h1{
    font-size: 45px;
    color: white;
    font-weight: 900;
}
#centre1 h6{
    padding: 26px 28px;
    /* background-color: antiquewhite; */
    border-radius: 50%;
    border: 1.5px solid white;
    color: white;
    font-size: 12px;
    font-weight:400 ;
}
#centre2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 92%;
    height: 20px;
    margin-left: 3.5%;
    position: absolute;
    top: 85%;
}
#centre2 h4{
    color: white;
    font-weight: 400;
    font-size: 14px;
}